{% extends 'admin/base_admin.html.twig' %}

{% block title %} Carrousel {% endblock %}
{% block stylesheets %}
    {{parent()}}
{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script src="{{asset('assets/js/jquery-ui.js')}}"></script>
    <script type="text/javascript"> 
        $(document).ready(function() {
            $(".ui-sortable").sortable({
                    helper: 'clone',
                    revert: 'invalid',
                    connectWith: '.ui-sortable',
                    vertical: true,
                    update: function(event, ui) {
                        var order = $(".ui-sortable").sortable("toArray");
                        console.log(order);
                        $.ajax({
                            url: "{{path('homeslider_reorder')}}",
                            type: "POST",
                            data: {order:order},
                            success:function(response){
                                for(var key in order)
                                {
                                    var id = order[key];
                                    var newPosition = parseInt(key) + 1;
                                    $('tr#'+id+' td.position').text(newPosition);
                                }
                            $('<div class="alert alert-ajax alert-success alert-dismissible bg-success text-white border-0 fade"><button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">×</span></button>'+ response.data +'</div>').insertBefore('.page-wrapper');
                            setTimeout(function() {
                                $('.alert.alert-ajax').addClass('show');
                                }, 100);
                            setTimeout(function() {
                                $('.alert.alert-ajax').hide();
                                }, 1200);
                            }
                        });
                    },
                });
        });
        function confirm_delete(item_href){
                $('#delete-item').attr('href',item_href);
                $('#modal_delete').modal('show');
        }
    </script>
{% endblock %}

{% block body %}
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-7 align-self-center">
                    <h3 class="page-title text-truncate text-dark font-weight-medium mb-1">Carrousel</h3>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            {% for message in app.flashes('success') %}
            <div class="alert alert-success alert-dismissible bg-success text-white border-0 fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                {{ message }}
            </div>
            {% endfor %}     

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title"><i class="fas fa-cogs"></i> Paramètres </div>
                            <form type="post" action="{{path('homeslider_upadteConfig')}}">
                                {% for configuration in configCarrousel %}
                                    <div class="row">
                                            <label class="col-md-2 text-right">{{ configuration.name|trans([],'labels') }}</label>
                                            <div class="col-md-7">
                                                {% if configuration.name == 'homeslider_speed' %} 
                                                    <div class="input-group form-group">
                                                    <input type="text" class="form-control"  
                                                        name={{ configuration.name }} 
                                                        value="{{configuration.value}}">
                                                        <div class="input-group-prepend">
                                                            <div class="input-group-text" id="btnGroupAddon">milliseconds</div>
                                                        </div>
                                                    </div> 
                                                {% else %}
                                                    <div class="form-group">
                                                        <label class="switch">
                                                            <input type="checkbox" 
                                                            name={{ configuration.name }} 
                                                            {% if configuration.value == 1 %} checked="checked" {% endif %}>
                                                            <span class="slider-switch round"></span>
                                                        </label>
                                                    </div>
                                                {% endif %}
                                            </div>
                                    </div>
                                {% endfor %}
                                <div class="text-right mt-3">
                                    <button type="submit" class="btn btn-info">{{ button_label|default('Enregistrer') }}</button>
                                </div>
                           </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title list-slides">
                                <p><i class="fas fa-list-ul"></i> Liste des diapositives  </p>
                                <a href="{{path("homeslider_new")}}" title="Ajouter"><i class="fas fa-plus-circle"></i></a>
                            </div>
                            <div class="slidesContent ui-sortable">
                                {% for slide in listSlides %}
                                    <div class="card" id="slide_{{slide.id}}">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-lg-1"><span class="move-item"><i class="fas fa-arrows-alt"></i></span></div>
                                                <div class="col-md-3">
                                                      <img src="{{asset('/uploads/carrousel/'~ slide.image ~'')}}" class="img-thumbnail"  /> 
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="name-slide pull-left">#{{slide.id}} - {{slide.title}}</div>
                                                    <div class="btn-list pull-right">
                                                        {% if slide.status == 0 %}
                                                            <a href="{{ path('homeslider_changestatus', {'id': slide.id}) }}?status=1" class="btn btn-sm btn-danger"><i class="fas fa-times"></i> Désactivé</a>
                                                        {% else %}
                                                            <a href="{{ path('homeslider_changestatus', {'id': slide.id}) }}?status=0" class="btn btn-sm btn-success"><i class="fas fa-check"></i> Activé</a>
                                                        {% endif %}
                                                        <a href="{{ path('homeslider_edit', {'id': slide.id}) }}" class="btn btn-sm btn-light"><i class="fas fa-edit"></i> Editer </a>
                                                        <button type="button" class="btn btn-sm btn-light" onclick="confirm_delete('{{ path('homeslider_delete', {'id': slide.id}) }}');"><i class="fas fa-trash-alt"></i> Supprimer</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                           </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 <div id="modal_delete" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                    aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <p class="text-center">Etes-vous sûr de vouloir supprimer le diapositive ? </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light"
                    data-dismiss="modal">Annuler</button>
                <a class="btn btn-primary" id="delete-item">Supprimer</a>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
{% endblock %}
