{% extends 'base.html.twig' %}

{% block title %}BlocsCms{% endblock %}

{% block body %}
    <h1>BlocsCms</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ blocs_cm.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ blocs_cm.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ blocs_cm.description }}</td>
            </tr>
            <tr>
                <th>Actif</th>
                <td>{{ blocs_cm.actif ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Link</th>
                <td>{{ blocs_cm.link }}</td>
            </tr>
            <tr>
                <th>Title_link</th>
                <td>{{ blocs_cm.titleLink }}</td>
            </tr>
            <tr>
                <th>Date_add</th>
                <td>{{ blocs_cm.dateAdd ? blocs_cm.dateAdd|date('Y-m-d') : '' }}</td>
            </tr>

            <tr>
                <th>Hook</th>
                <td>{{ blocs_cm.hook }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ blocs_cm.image }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('blocs_cms_index') }}">back to list</a>

    <a href="{{ path('blocs_cms_edit', {'id': blocs_cm.id}) }}">edit</a>

    {{ include('blocs_cms/_delete_form.html.twig') }}
{% endblock %}
